* {
    box-sizing: border-box;
  }
    
    body {
      height: 100vh;
      display: grid;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  
    #input {
      width: 70%;
      height: 30px;
      border: 3px solid rgb(157, 194, 132);
    }
  
    td {
      color: rgb(255, 153, 0);
      font-weight: bolder;
    }
  
    #container {
        display: flex;
    }
  
    #header {
      display: inline;
      background-color: rgb(157, 194, 132);
      color: white;
      width: 350px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-weight: bolder;
      margin-bottom: 5px;
    }
  
    #addItem {
      width:30%;
      height: 30px;
      color: rgb(157, 194, 132);
      background-color: white;
      border: 3px solid rgb(157, 194, 132);
      margin-left: 10px;
    }
  
    .del {
      background-color: rgb(209, 109, 106);
      color: white;
      border: 3px solid rgb(209, 109, 106);
      margin-top: 8px;
      margin-bottom: 8px;
     }